/** DeeVee CSS stylesheet **/
html {
  font-family: 'Roboto', sans-serif;
}
body.partDialogOpen {
  overflow: auto;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
a {
  outline: 0;
}
/** Lightbox overlay **/
.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  top:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}
/** Main view **/
.container {
  padding: 1rem;
  min-width: 280px;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #444444;
}
h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #444444;
}
h2 {
  color: #444444;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #444444;
}
/** Part selection dialog **/
.dialog {
  width: 95%;
  height: 95%;
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  background-color: #eeeeee;
  border-radius: 0.5rem;
  z-index: 11;
  padding: 0;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.dialog .catTitles {
  width: 6rem;
  display: block;
  float: left;
  padding: 0;
  margin: 1.5rem 0 0 1rem;
}
.catTitles h2.catTitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  display: inline-block;
  text-align: left;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #666666;
  border-left: 0.3rem solid #EEEEEE;
}
.catTitles .multiplier hr {
  padding-left: 0;
  margin-left: 0.7rem;
  width: 6rem;
  height: 1px;
  border: none;
  background-color: #C2C2C2;
}
.catTitles .multiplier a {
  font-size: 1.1rem;
  margin: 0 0 0 0.3rem;
  padding: 0px 0px 0px 0.5rem;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  color: #666666;
}
.catTitles .multiplier .highlight-blue {
  color: #0098ce;
}
.catTitles h2.catTitle.selected {
  color: #222222;
  border-left: 0.3rem solid #222222;
}
.dialog > div.catContents {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 1.5rem 0.5rem 0.5rem 10rem;
}
.dialog div.subcategory {
  margin-bottom: 0.5rem;
}
.dialog .subcategory h3 {
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.dialog .dialogClose {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 1.7rem;
  color: #777777;
  font-weight: bold;
  padding: 0 0.5rem 2rem 2rem;
  margin-left: -3.4rem;
}
.dialog .dialogClose:hover {
  color: #444444;
}
.dialog .dialogContent {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 100%;
}
.dialogContent .category {
  line-height: 1.5rem;
  cursor: pointer;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
}
.category span.partOption {
  display: inline-block;
  font-size: 0.8rem;
  width: 15rem;
  padding-bottom: 0.1rem;
  line-height: 0.9rem;
  vertical-align: top;
  cursor: pointer;
  color: #666666;
}
.category span.partOption:hover {
  color: #222222;
}
/** Individual stage box **/
.stageBox {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.24);
}
.stageBox .stageContent {
  padding: 1rem;
}
.stageBox .stageRemove {
  float: right;
  margin-top: 0;
  margin-right: 0;
  padding: 0.15rem 0.5rem 1rem 1.5rem;
  font-size: 1.5rem;
  color: #888888;
  font-weight: bold;
}
.stageBox .stageRemove:hover {
  color: #444444;
}
.stageBox p, .stageBox h3 {
  margin-bottom: 0;
}
.stageBox ul {
  list-style-type: none;
  padding-left: 0;
}
.stageBox h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #444444;
}
.atmCheck input {
  margin-right: 0.5rem;
  margin-top: 1rem;
}
.stageContent .partAdd a {
  background-color: #0098ce;
  color: #eeeeee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: block;
  width: 5rem;
  text-align: center;
}
.partsBox {
  margin-bottom: 1.5rem;
}
.partsBox ul {
  border-radius: 0.3rem;
  overflow: hidden;
}
.partsBox div {
  padding: 0.25rem;
}
.partsBox .partEven {
  background-color: #dfdfdf;
  padding: 0.2rem 0 0.2rem 0.5rem;
  position: relative;
  height: 1.5rem;
}
.partsBox .partOdd {
  background-color: #fbfbfb;
  padding: 0.2rem 0 0.2rem 0.5rem;
  position: relative;
  height: 1.5rem;
}
.partsBox .partName {
  position: absolute;
  left: 0;
  right: 1.5rem;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  padding: 0.2rem 0rem 0.2rem 0.5rem
}
.partsBox .partRemove {
  right: 0;
  position: absolute;
  padding-top: 0.1rem;
}
.partsBox .partRemove a {
  color: #b2b2b2;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 0.2rem 0.5rem 0.2rem 1rem;
}
.partsBox .partRemove a:hover {
  color: #bc0000;
}
/** Totals summary box **/
.totals h2 {
  margin-bottom: 0.5rem;
}
.totals p {
  margin-top: 0;
  margin-bottom: 0;
}
.stageAdd {
  background-color: #bc0000;
  color: #eeeeee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: block;
  width: 5rem;
  text-align: center;
}
.totalsBox, .jsBox {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.24);
}
/** JS disabled message **/
.jsBox h2 {
  margin: 0.75rem 0.75rem 0.5rem 0.25rem;
}
.jsBox p {
  margin-left: 0.5rem;
}
