<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="deeVee" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="deeVee" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="deeVee" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="deeVee" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DeeVee</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="stageCtrl">
  <div class="overlay" ng-if="partDialog == true" ng-click="closePartDialog()">
    <div class="dialog" ng-click="$event.stopPropagation()">
    <div class="category" ng-repeat="category in parts track by $index">
      <h2>{{category.name}}</h2>
      <div class="subcategory" ng-repeat="subcategory in category.subcategories track by $index">
        <h3>{{subcategory.name}}</h2>
        <select class="partSelector" ng-options="part as part.name for part in subcategory.parts" ng-model="selected" ng-change="savePartDialog(currentStage, selected)">
        </select>
      </div>
    </div>
    </div>
  </div>

  <h1>DeeVee</h1>
  <div ng-repeat="stage in stageList track by $index">
    <h3>Stage {{stageList.length - $index}}</h3>
    <br>
    <span>
      <button ng-click="openPartDialog($index)">Add part</button>
    </span>
    <span>
      <button ng-click="removeStage($index)">Remove stage</button>
      <input type="checkbox" ng-model="stage.atm" ng-change="updateCalculations($index); updateTotals()">Atmosphere</input>
    </span>

    <ul>
      <li ng-repeat="part in stage.partsList track by $index">
          <span>{{part.name}}</span>
          <span><button ng-click="removeStagePart($parent.$index, $index)">Remove</button></span>
      </li>
    </ul>
    <p>
      dV: {{stage.result.dv.toFixed(2)}}m/s<br>
      thrust/weight ratio: {{stage.result.thrustratio.toFixed(2)}}<br>
      impulse: {{stage.result.impulse.toFixed(2)}}s
    </p>
  </div>
  <button ng-click="addStage()">Add stage</button>
  <h2>Totals</h2>
  Total dV: {{totals.totaldv.toFixed(2)}} m/s <br>
  Total mass: {{totals.totalmass.toFixed(2)}} t <br>
  Total part count: {{totals.totalparts}}

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>
</html>
