<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="deeVee" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="deeVee" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="deeVee" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="deeVee" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DeeVee</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</head>

<body ng-class="isPartDialogOpen()" ng-controller="stageCtrl">
  <div  ng-cloak class="overlay" ng-if="partDialog == true" ng-click="closePartDialog()">
    <div class="dialog" ng-click="$event.stopPropagation()">
      <a class="dialogClose" href="#" title="Close part dialog" ng-click="closePartDialog()">&times</a>
        <div class="catTitles">
          <h2 class="catTitle" ng-class="catSelected($index)"ng-repeat="category in parts track by $index" ng-click="toggleCat($index)">{{category.name}}</h2>
        </div>
        <div class="catContents">
          <div class="category" ng-repeat="category in parts track by $index" ng-click="toggleCat($index)">
            <div class="subcategory" ng-repeat="subcategory in category.subcategories track by $index" ng-if="parts[$parent.$index].visible == true">
              <h3>{{subcategory.name}}</h3>
              <div class="partOptions">
                <span class="partOption" ng-repeat="part in subcategory.parts" ng-click="savePartDialog(currentStage, part)">
                  {{part.name}}
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container">
    <h1>DeeVee</h1>
    <div ng-cloak class="stageBox" ng-repeat="stage in stageList track by $index">
      <a class="stageRemove" href="#" title="Remove stage" ng-click="removeStage($index)">&times</a>
      <div class="stageContent">
        <h2>Stage {{stageList.length - $index}}</h2>

        <div class="partsBox">
          <ul>
            <li ng-repeat="part in stage.partsList track by $index">
              <div ng-class-even="'partEven'" ng-class-odd="'partOdd'">
                <span>{{part.name}}</span>
                  <span class="partRemove"><a href="#" ng-click="removeStagePart($parent.$index, $index)">&times</a></span>
              </div>
            </li>
          </ul>
        </div>
        <span class=partAdd>
        <a href="#" ng-click="openPartDialog($index)">Add part</a>
        </span>
        <span class="atmCheck">
          <input type="checkbox" ng-model="stage.atm" ng-change="updateCalculations($index); updateTotals()">
            Atmosphere
          </input>
        </span>
        <p>
          dV: {{stage.result.dv.toFixed(2)}}m/s<br>
          thrust/weight ratio: {{stage.result.thrustratio.toFixed(2)}}<br>
          impulse: {{stage.result.impulse.toFixed(2)}}s
        </p>
      </div>
    </div>
    <div ng-cloak class=totalsBox>
      <a class="stageAdd" href="#" ng-click="addStage()">Add stage</a>
      <div class="totals">
      <h2>Total</h2>
        <p>
          dV: {{totals.totaldv.toFixed(2)}} m/s <br>
          mass: {{totals.totalmass.toFixed(2)}} t <br>
          part count: {{totals.totalparts}}
        </p>
    </div>
    </div>
    <noscript>
      <div class=jsBox>
        <h2>Javascript is disabled!</h2>
          <p>
          DeeVee is a javascript thing... so maybe you should enable javascript.
          </p>
      </div>
    </noscript>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
</body>
</html>
